@{
    ViewBag.title = "Conferences";
    ViewBag.bodyclass = "about";
    ViewBag.bodydatafragment = "693878";
    ViewBag.Dh4 = "is-active";
}

@section canonicalLink{
    <link rel="canonical" href="//www.srcmag.com/about" />
}

<div class="container">
    <div class="publisher-identity">
        <div id="main" class="grid">
            





            <div class="main__content grid__col grid__col--xs-12 grid__col--md-12" id="main-content">
                <div class="block" id="Test-ImgSrc">

                    <h1>SRC's Conferences</h1>




                    <div class="CmsItem CmsArticle cleared" data-fragment="752704">
                        <div class="CmsArticle_body cleared">
                            <p>
                                The information of conferences comes from another website(<a href="http://www.elirc.com/" target="_blank"><em>Elirc</em></a>)
                                ,If you want find more details,you can visit <a href="http://www.elirc.com/" target="_blank"><em>Elirc</em></a> directly.
                            </p>
                            <ul>
                                <li>
                                    out coming: <a href="http://www.elirc.com/Home/ConferenceDetail/43" target="_blank">International Symposium 2017--Common Development of Sports and Modern Society.</a>
                                </li>
                                <li>
                                    out coming: <a href="http://www.elirc.com/Home/ConferenceDetail/42" target="_blank">International Symposium 2017--Asia-Pacific Public Administration</a>
                                </li>
                                <li>
                                    out coming: <a href="http://www.elirc.com/Home/ConferenceDetail/41" target="_blank">International Symposium 2017--Education Management and Innovation</a>
                                </li>
                                <li>
                                    out coming: <a href="http://www.elirc.com/Home/ConferenceDetail/40" target="_blank">International Symposium 2017--Science and Technology Innovation and Science Communication</a>
                                </li>
                                <li>
                                    out coming: <a href="http://www.elirc.com/Home/ConferenceDetail/39" target="_blank">International Symposium 2017--Mechanical and Electronical Systems and Control Engineering</a>
                                </li>
                                <li>
                                    out coming: <a href="http://www.elirc.com/Home/ConferenceDetail/38" target="_blank">International Symposium 2017--Research and Practice of Higher Education Theory</a>
                                </li>
                            </ul>
                        </div>
                    </div>




                </div>
            </div>
            @*<div class="main__sidebar main__sidebar--right grid__col grid__col--xs-12 grid__col--md-3" id="main-sidebar">
                    <div class="block">





                        <div id="RealMediaSkyscraper" class="adsbox RealMediaAd Ad Ad--skyscraper" data-position="Right1">
                            <div class="Ad_content">
                                <p class="Ad_label">Advertisement</p>

                            </div>
                        </div>

                    </div>
                </div>*@
        </div>
    </div>
</div>

@section PDefault{
    <div id="PDefault"></div>
}


