@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SCI</title>
</head>
<body>
    <p><a href="/admin/articles/submitpaper">提交论文</a></p>
</body>
</html>
