@{
    ViewBag.title = "SRCMAG";
    ViewBag.bodyclass = "publisherhome";
    ViewBag.bodydatafragment = "32782";
}



@section canonicalLink{
    <link rel="canonical" href="index.html" />
}
<div class="container">
    <div id="PHome" class="publisher-identity">
        <main role="main" id="main" class="grid">
            <div class="main__content grid__col grid__col--xs-12 grid__col--md-10" id="main-content">
                <div class="block" id="Test-ImgSrc">
                    <h1>SRCMag</h1>



                    <div class="CmsItem CmsCollection CmsCollection--evenSplit" data-fragment="6613216">



                        <div class="Column">
                            <div class="Column_inner">
                                <div class="CmsItem CmsTeaser CmsTeaser--btn" data-fragment="6623402">

                                    <div class="CmsTeaser--btn_content">

                                        <div class="CmsTeaser--btn_text">
                                            <p>
                                                Science and Research Central is an international publisher of scientific, technical,
                                                medical articles. We want to improve the publish experience,
                                                providing wide-range of publishing possibility suitable for different authors.
                                                Our object is to constantly help scientist from world wide,
                                                by give quickest information from all disciplines,
                                                while offering them an free and open opportunity to discuss various questions concerning about science and research.
                                            </p>

                                            <a href="//www.srcmag.com/journals" class="CmsTeaser_button" data-test="teaser-button-link"> View our journals </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="Column">
                            <div class="CmsItem CmsItem--video" data-fragment="6610542">

                                <img src="/static/images/index_pic.jpg" alt="fly with us"/>

                            </div>
                        </div>

                    </div>




                    <div class="CmsItem CmsCollection CmsCollection--evenSplit" data-fragment="6616320">

                        <h2>Editors&#x27; picks</h2>



                        <div class="Column">
                            <div class="CmsItem CmsTeaser featured featured--stackedAlt" data-fragment="6613228">

                                <div class="featured__media">

                                    <div class="CmsItem CmsImage" data-fragment="7480260">
                                        <a class="CmsImage_link" href="http://srcmag.com/articles/10.1186/s12879-editor-pick-y">
                                            <img class="CmsImage_img" src="static/images/EP1.jpg" />
                                        </a>

                                        <p class="featured-copyright">Pixabay</p>

                                    </div>


                                </div>



                                <h2>

                                    <a href="http://srcmag.com/articles/10.1186/s12879-editor-pick-y">Design of MOOC training system based on Competency Model</a>

                                </h2>



                                <div class="featured__text">
                                    <p>education of primary and secondary school students is becoming more and more urgent and important</p><p><em>International Symposium Exercise and Health</em> 2015</p>
                                </div>


                            </div>
                        </div>

                        <div class="Column">
                            <div class="CmsItem CmsTeaser featured featured--stackedAlt" data-fragment="6614096">

                                <div class="featured__media">

                                    <div class="CmsItem CmsImage" data-fragment="6623460">
                                        <a class="CmsImage_link" href="http://srcmag.com/articles/10.1186/s12789-editor-pick1-y">
                                            <img class="CmsImage_img" src="static/images/EP2.jpg" alt="Reform Promotion of Physical Education in Universities by Relying on Traditional Resources of Ethnic Minorities " />
                                        </a>

                                        <p class="featured-copyright">Pixabay</p>
                                    </div>
                                </div>
                                <h2>
                                    <a href="http://srcmag.com/articles/10.1186/s12789-editor-pick1-y">Reform Promotion of Physical Education in Universities by Relying on Traditional Resources of Ethnic Minorities</a>

                                </h2>



                                <div class="featured__text">
                                    <p>Traditional ethnic minority sports have a long history. Vigorously developing traditional ethnic minority sports plays a positive role in promoting the communication of traditional ethnic minority sports culture.</p>
                                    <p><em>International Symposium Exercise and Health</em> 2015</p>
                                </div>


                            </div>
                        </div>


                        <div class="Column">
                            <div class="CmsItem CmsTeaser featured featured--stackedAlt" data-fragment="6613228">

                                <div class="featured__media">

                                    <div class="CmsItem CmsImage" data-fragment="7480260">
                                        <a class="CmsImage_link" href="http://srcmag.com/articles/10.1186/s12789-editor-pick2-y">
                                            <img class="CmsImage_img" src="static/images/EP3.jpg" />
                                        </a>

                                        <p class="featured-copyright">Pixabay</p>

                                    </div>


                                </div>



                                <h2>

                                    <a href="http://srcmag.com/articles/10.1186/s12789-editor-pick2-y">
                                        Research on the Training Focuses and Approaches to Restore Physical Condition for Taekwondo and Shadowboxing from the Perspective of Athletic Injury
                                    </a>

                                </h2>



                                <div class="featured__text">
                                    <p>
                                        In this paper, we conduct theoretical research on the training focuses and approaches to restore the physical condition for
                                        taekwondo and shadowboxing from perspective of athletic injury. Hidden trouble in security sports teaching is teachers and
                                        school leaders pay close attention to the problem.
                                    </p>
                                    <p><em>International Symposium Exercise and Health</em> 2015</p>
                                </div>


                            </div>
                        </div>

                        <div class="Column">
                            <div class="CmsItem CmsTeaser featured featured--stackedAlt" data-fragment="6614096">

                                <div class="featured__media">

                                    <div class="CmsItem CmsImage" data-fragment="6623460">
                                        <a class="CmsImage_link" href="http://srcmag.com/articles/10.1186/s12789-editor-pick1-y">
                                            <img class="CmsImage_img" src="static/images/EP4.jpg" alt="Reform Promotion of Physical Education in Universities by Relying on Traditional Resources of Ethnic Minorities " />
                                        </a>

                                        <p class="featured-copyright">Pixabay</p>
                                    </div>
                                </div>
                                <h2>
                                    <a href="http://srcmag.com/articles/10.1186/s12789-editor-pick3-y">
                                        Research on the Development of Sports Education Orientation under the Background of Sunshine Sports and Quality Education
                                    </a>

                                </h2>



                                <div class="featured__text">
                                    <p>
                                        we conduct research on the development of the sports education orientation under the background of the sunshine sports and quality education.
                                    </p>
                                    <p><em>International Symposium Common Development of Sports and Modern Society</em> 2015</p>
                                </div>


                            </div>
                        </div>

                    </div>




                    @*<div class="CmsItem CmsCollection CmsCollection--evenSplit" data-fragment="6616350">



                        <div class="Column">
                            <div class="CmsItem CmsCollection" id="retrospectively+registered+trials" data-fragment="6622388">

                                <h2>Retrospectively registered trials</h2>


                                <div class="CmsItem CmsTeaser featured featured--stackedAlt" data-fragment="6616346">

                                    <div class="featured__media">

                                        <div class="CmsItem CmsImage" data-fragment="7820102">
                                            <a class="CmsImage_link" href="http://blogs.biomedcentral.com/bmcblog/2016/04/15/retrospectively-registered-trials-editors-dilemma/">
                                                <img class="CmsImage_img" src="//media.springer.com/lw900/springer-cms/rest/v1/content/7820102/data/v2" alt="Registered Trials" />
                                            </a>

                                            <p class="featured-copyright">Pixabay</p>

                                        </div>


                                    </div>



                                    <h2>

                                        <a href="http://blogs.biomedcentral.com/bmcblog/2016/04/15/retrospectively-registered-trials-editors-dilemma/">The Editors’ dilemma</a>

                                    </h2>



                                    <div class="featured__text">
                                        <p>Prospective clinical trial registration aims to address publication and reporting bias. Unfortunately, not all clinical trials are registered before they start. Here we discuss the dilemma faced by editors when receiving submissions reporting a clinical trial that was not registered prospectively, and a new policy for increasing transparency when a trial was registered after participant recruitment has begun.</p>
                                    </div>


                                </div>


                            </div>

                        </div>

                        <div class="Column">
                            <div class="CmsItem CmsCollection" id="citizen+science%3A+through+the+looking+glass" data-fragment="6632746">

                                <h2>Citizen science: through the looking glass</h2>


                                <div class="CmsItem CmsTeaser featured featured--stackedAlt" data-fragment="6632586">

                                    <div class="featured__media">

                                        <div class="CmsItem CmsImage" data-fragment="6632744">
                                            <a class="CmsImage_link" href="http://blogs.biomedcentral.com/bmcseriesblog/2016/07/22/citizen-science-looking-glass/">
                                                <img class="CmsImage_img" src="//media.springer.com/lw900/springer-cms/rest/v1/content/6632744/data/v9" alt="Citizen science: through the looking glass" />
                                            </a>

                                        </div>


                                    </div>



                                    <h2>

                                        <a href="http://blogs.biomedcentral.com/bmcseriesblog/2016/07/22/citizen-science-looking-glass/">Citizen science: through the looking glass</a>

                                    </h2>



                                    <div class="featured__text">
                                        <p>In this blog, Poppy Lakeman Fraser, Senior Programme Coordinator for the Open Air Laboratories (OPAL) initiative, explains what citizen science actually is and how researchers rely on this form of data collection.</p>
                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>*@

                </div>
            </div>
            <div class="main__sidebar main__sidebar--right grid__col grid__col--xs-12 grid__col--md-2" id="main-sidebar">
                <div class="block">
                    <aside role="complementary"></aside>
                </div>
            </div>
        </main>
    </div>
</div>

