@{
    ViewBag.title = "Get published";
    ViewBag.bodyclass = "getpublished";
    ViewBag.bodydatafragment = "693656";
    ViewBag.Dh2 = "is-active";
}


@section canonicalLink{
    <link rel="canonical" href="//www.biomedcentral.com/getpublished" />
}

<div class="container">
    <div class="publisher-identity">
        <div id="main" class="grid">






            <nav class="main__sidebar main__sidebar--left grid__col grid__col--xs-12 grid__col--md-2"
                 role="navigation" aria-label="Get published">
                <div class="block">
                    <ul id="publisherNavigationLevelTwo"
                        class="list-stacked list-stacked--2 list-stacked--neutral list-stacked--small">

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Benefits of publishing with us</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Find the right journal</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Editorial policies</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Article processing charges</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Peer Review process</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Supplements and collections</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Indexing, archiving and access to data</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Writing resources</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="#">Copyright and License</a>

                        </li>

                    </ul>
                </div>
            </nav>









            <div class="main__content grid__col grid__col--xs-12 grid__col--md-10" id="main-content">
                <div class="block" id="Test-ImgSrc">

                    <h1>Get published</h1>




                    <div class="CmsItem CmsArticle cleared" data-fragment="801858">
                        <div class="CmsArticle_body cleared">
                            <p>We aim to give you the best experience whether <a href="/about/partnerships-and-societies" target="_self">starting a journal</a> or <a href="/getpublished/benefits-of-publishing-with-us" target="_self">publishing your first article with us</a>. </p><p>If you can't find what you are looking for, please contact our <a href="/about/contacts" target="_self">friendly customer services team</a> who will be happy to help.</p>
                        </div>
                    </div>




                </div>
            </div>
            @*<div class="main__sidebar main__sidebar--right grid__col grid__col--xs-12 grid__col--md-3" id="main-sidebar">
                <div class="block">





                    <div id="RealMediaSkyscraper" class="adsbox RealMediaAd Ad Ad--skyscraper" data-position="Right1">
                        <div class="Ad_content">
                            <p class="Ad_label">Advertisement</p>

                        </div>
                    </div>

                </div>
            </div>*@
        </div>
    </div>
    </div>

    @section PDefault{
        <div id="PDefault"></div>
    }


