@{
    ViewBag.title = "About SRCMAG";
    ViewBag.bodyclass = "about";
    ViewBag.bodydatafragment = "693878";
    ViewBag.Dh3 = "is-active";
}

@section canonicalLink{
    <link rel="canonical" href="//www.srcmag.com/about" />
}

<div class="container">
    <div class="publisher-identity">
        <div id="main" class="grid">
            <nav class="main__sidebar main__sidebar--left grid__col grid__col--xs-12 grid__col--md-2"
                 role="navigation" aria-label="About BioMed Central">
                <div class="block">
                    <ul id="publisherNavigationLevelTwo"
                        class="list-stacked list-stacked--2 list-stacked--neutral list-stacked--small">

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Who we are</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Open access</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Standards and affiliations</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Policies</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Institutions</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Partnerships and societies</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Publication costs and funding</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Advertising and sponsorship</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Press center</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Additional services</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">News and events</a>



                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Jobs</a>

                        </li>

                        <li class="list-stacked__item">
                            <a class="list-stacked__link"
                               href="/about/#">Contact us</a>

                        </li>

                    </ul>
                </div>
            </nav>





            <div class="main__content grid__col grid__col--xs-12 grid__col--md-10" id="main-content">
                <div class="block" id="Test-ImgSrc">

                    <h1>About Science and Research Central</h1>




                    <div class="CmsItem CmsArticle cleared" data-fragment="752704">
                        <div class="CmsArticle_body cleared">
                            <p>
                                Science and Research Central is an international publisher of scientific, technical, medical articles.
                                We want to improve the publish experience, providing wide-range of publishing possibility suitable for different authors.
                                Our object is to constantly help scientist from world wide, by give quickest information from all disciplines,
                                while offering them an free and open opportunity to discuss various questions concerning about science and research.
                            </p>
                            <ul>
                                <li>
                                    Open Access: The vast majority of our journals are open access journals, which is free online for all the readers.
                                </li>
                                <li>
                                    Fast publish: Our efficient publishing team will accelerate the review procedure and make sure you are ahead of the time.
                                </li>
                                <li>
                                    Peer review: Your articles will be distributed to the experts of related field and professional feedback will benefit your further works.
                                </li>
                                <li>
                                    Enhanced Search: Optimized search engine ensures useful and relevant content and information will precisely deliver to the users/readers.
                                </li>
                                <li>
                                    Keep update: Content alerts and RSS feeds to keep you updated with the latest published articles you like.
                                </li>
                            </ul>
                        </div>
                    </div>




                </div>
            </div>
            @*<div class="main__sidebar main__sidebar--right grid__col grid__col--xs-12 grid__col--md-3" id="main-sidebar">
                <div class="block">





                    <div id="RealMediaSkyscraper" class="adsbox RealMediaAd Ad Ad--skyscraper" data-position="Right1">
                        <div class="Ad_content">
                            <p class="Ad_label">Advertisement</p>

                        </div>
                    </div>

                </div>
            </div>*@
        </div>
    </div>
</div>

@section PDefault{
    <div id="PDefault"></div>
}


