@{
    ViewBag.title = "Journals";
    ViewBag.bodyclass = "journals";
    ViewBag.bodydatafragment = "253216";
    ViewBag.Dh1 = "is-active";
}

@section canonicalLink{

    <link rel="canonical" href="//www.srcmag.com/journals" />
}

<div class="container">
    <div class="publisher-identity">
        <div id="main" class="grid">


            <div class="main__content grid__col grid__col--xs-12 grid__col--md-12" id="main-content">
                <div class="block" id="Test-ImgSrc">

                    <h1>Journals</h1>




                    <div id="journalList" class="AllJournals AllJournals--bySubject">
                        

                        

                        <ol class="ListSection AllJournals--bySubject_subjects">

                   
                            <li id="Life Sciences">
                                

                                <ol class="list-stacked list-stacked--journals js-CollapseSection">

                                    @*<li id="40066" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//agricultureandfoodsecurity.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Agriculture &amp; Food Security"
                                           data-preview-link="/placeholder/v1/journal/preview?site=agricultureandfoodsecurity.biomedcentral.com">Agriculture &amp; Food Security</a>



                                    </li>

                                    <li id="13015" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//almob.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Algorithms for Molecular Biology"
                                           data-preview-link="/placeholder/v1/journal/preview?site=almob.biomedcentral.com">Algorithms for Molecular Biology</a>



                                    </li>*@

                                </ol>
                            </li>

                            

                            

                        </ol>

                    </div>




                </div>
            </div>
            
        </div>
    </div>
</div>


    @section PDefault{
        <div id="PDefault"></div>
    }

