@{
    ViewBag.title = "Journals";
    ViewBag.bodyclass = "journals";
    ViewBag.bodydatafragment = "253216";
    ViewBag.Dh1 = "is-active";
}

@section canonicalLink{

    <link rel="canonical" href="//www.srcmag.com/journals" />
}

<div class="container">
    <div class="publisher-identity">
        <div id="main" class="grid">


            <div class="main__content grid__col grid__col--xs-12 grid__col--md-12" id="main-content">
                <div class="block" id="Test-ImgSrc">

                    <h1>Journals</h1>




                    <div id="journalList" class="AllJournals AllJournals--bySubject">
                        

                        

                        <ol class="ListSection AllJournals--bySubject_subjects">

                   
                            <li id="Life Sciences">
                                

                                <ol class="list-stacked list-stacked--journals js-CollapseSection">

                                    <li id="40066" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//agricultureandfoodsecurity.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Agriculture &amp; Food Security"
                                           data-preview-link="/placeholder/v1/journal/preview?site=agricultureandfoodsecurity.biomedcentral.com">Agriculture &amp; Food Security</a>



                                    </li>

                                    <li id="13015" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//almob.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Algorithms for Molecular Biology"
                                           data-preview-link="/placeholder/v1/journal/preview?site=almob.biomedcentral.com">Algorithms for Molecular Biology</a>



                                    </li>


                                    <li id="12862" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//bmcevolbiol.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="BMC Evolutionary Biology"
                                           data-preview-link="/placeholder/v1/journal/preview?site=bmcevolbiol.biomedcentral.com">BMC Evolutionary Biology</a>



                                    </li>

                                  

                                    <li id="10152" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//hmr.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Helgoland Marine Research"
                                           data-preview-link="/placeholder/v1/journal/preview?site=hmr.biomedcentral.com">Helgoland Marine Research</a>



                                    </li>

                                    <li id="41065" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//hereditasjournal.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Hereditas"
                                           data-preview-link="/placeholder/v1/journal/preview?site=hereditasjournal.biomedcentral.com">Hereditas</a>



                                    </li>

                                    <li id="40104" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//jasbsci.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Journal of Animal Science and Biotechnology"
                                           data-preview-link="/placeholder/v1/journal/preview?site=jasbsci.biomedcentral.com">Journal of Animal Science and Biotechnology</a>



                                    </li>

                                    <li id="40781" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//janimscitechnol.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Journal of Animal Science and Technology"
                                           data-preview-link="/placeholder/v1/journal/preview?site=janimscitechnol.biomedcentral.com">Journal of Animal Science and Technology</a>



                                    </li>

                                    <li id="40709" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//jbiolres.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Journal of Biological Research-Thessaloniki"
                                           data-preview-link="/placeholder/v1/journal/preview?site=jbiolres.biomedcentral.com">Journal of Biological Research-Thessaloniki</a>



                                    </li>

                                    <li id="41610" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//jecoenv.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Journal of Ecology and Environment"
                                           data-preview-link="/placeholder/v1/journal/preview?site=jecoenv.biomedcentral.com">Journal of Ecology and Environment</a>



                                    </li>

                                    <li id="12944" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//lipidworld.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Lipids in Health and Disease"
                                           data-preview-link="/placeholder/v1/journal/preview?site=lipidworld.biomedcentral.com">Lipids in Health and Disease</a>



                                    </li>

                                    <li id="40462" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//movementecologyjournal.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Movement Ecology"
                                           data-preview-link="/placeholder/v1/journal/preview?site=movementecologyjournal.biomedcentral.com">Movement Ecology</a>



                                    </li>

                                    <li id="13007" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//plantmethods.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Plant Methods"
                                           data-preview-link="/placeholder/v1/journal/preview?site=plantmethods.biomedcentral.com">Plant Methods</a>



                                    </li>

                                    <li id="12953" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//proteomesci.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Proteome Science"
                                           data-preview-link="/placeholder/v1/journal/preview?site=proteomesci.biomedcentral.com">Proteome Science</a>



                                    </li>

                                    <li id="40693" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//revchilhistnat.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Revista Chilena de Historia Natural"
                                           data-preview-link="/placeholder/v1/journal/preview?site=revchilhistnat.biomedcentral.com">Revista Chilena de Historia Natural</a>



                                    </li>

                                    <li id="13395" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//skeletalmusclejournal.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Skeletal Muscle"
                                           data-preview-link="/placeholder/v1/journal/preview?site=skeletalmusclejournal.biomedcentral.com">Skeletal Muscle</a>



                                    </li>

                                    <li id="13029" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//scfbm.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Source Code for Biology and Medicine"
                                           data-preview-link="/placeholder/v1/journal/preview?site=scfbm.biomedcentral.com">Source Code for Biology and Medicine</a>



                                    </li>

                                    <li id="40793" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//standardsingenomics.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Standards in Genomic Sciences"
                                           data-preview-link="/placeholder/v1/journal/preview?site=standardsingenomics.biomedcentral.com">Standards in Genomic Sciences</a>



                                    </li>

                                    <li id="13287" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//stemcellres.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Stem Cell Research &amp; Therapy"
                                           data-preview-link="/placeholder/v1/journal/preview?site=stemcellres.biomedcentral.com">Stem Cell Research &amp; Therapy</a>



                                    </li>

                                    <li id="40851" class="list-stacked__item">
                                        <a class="list-stacked__link" href="//zoologicalletters.biomedcentral.com"
                                           data-track-event="click"
                                           data-event-category="Journal Subject Browse Page"
                                           data-event-action="Click Journal"
                                           data-event-label="Zoological Letters"
                                           data-preview-link="/placeholder/v1/journal/preview?site=zoologicalletters.biomedcentral.com">Zoological Letters</a>



                                    </li>

                                </ol>
                            </li>

                            

                            

                        </ol>

                    </div>




                </div>
            </div>
            
        </div>
    </div>
</div>


    @section PDefault{
        <div id="PDefault"></div>
    }

